<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Youtube Video Downloader</title>
    </head>
    <body bgcolor="red">
        {% block content %}
            <h1 style="color:#ffffff";>Youtube Video Downloader</h1>
            <form action="info" method="post">
                {% csrf_token %}
                <p>Welcome to the Youtube Video Downloader!<br>
                    You can download any youtube video that you want simply by pasting the url.<br>
                    You can also customize and choose the options that you want for your video.<br>
                    Thank you for using the program.<br><br>
                    -Rushil Desai<br><br>
                </p>
                <h2>Video Options</h2>
                Enter the url: <input type="text" name="Furl"><br><br>
                Enter file name: <input type="text" name="Fname"><br><br>
                Enter file saving path: <input type="text" name="Fpath"><br><br>
                <h2>Audio Options</h2>
                <div id="audio">
                    <input type="radio" value="true" name="audio">Audio Only<br>
                    <input type="radio" value="false" name="audio">Audio and Video<br>
                </div>
                <h2>Download Options</h2>
                <div id="download">
                    <input type="radio" value="true" name="download">Progressive Download<br>
                    <input type="radio" value="false" name="download">Adaptive Download<br>
                    <input type="radio" value="none" name="download">Doesn't Matter<br>
                </div>
                <h2>Resolution Options</h2>
                <div id="resolution">
                    <input type="radio" value="true" name="resolution">High Resolution<br>
                    <input type="radio" value="false" name="resolution">Low Resolution<br>
                </div>
                <br><br>
                <input type="submit" value="Download"><br><br>
            </form>
            <img src="https://i.pinimg.com/originals/de/b4/93/deb493608dae9e533ef6b6894095b797.png" height="200" width="200" style="border-style: solid; border-color: white;">
        {% endblock %}
    </body>
</html>

